<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: playerLife <= 30}" :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: monsterLife <= 30}" :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife == 0" class="win">You win!! =)</div>
            <div v-else class="lose">You lose!! =(</div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack" @click="attack(false)">Attack</button>
                <button class="btn special-attack" @click="attack(true)">Special Attack</button>
                <button class="btn heal" @click="healAndHurt">Heal</button>
                <button class="btn give-up" @click="running = false">Give Up</button>
            </template>
            <button v-else class="btn start" @click="startGame()">Start</button>
        </div>
        <div class="panel logs" v-if="logs.length">
            <ul>
                <li class="log" v-for="log in logs" :class="log.cls">
                    {{ log.text }}
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>